# Compilation trash (rules are recursive, ignoring both Decomp and DecompilerGUI bins)
bin/
obj/

# User-specific files & IDE configurations
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
packages.config
packages/

# Tooling & AI assistant caches
.refact
.aider*
bin/
obj/
